@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  .section-container {
    @apply flex flex-col relative mx-auto w-full max-w-screen-xl overflow-hidden 
           pt-8 pb-8 sm:pt-12 sm:pb-12;
  }
  

  .content-wrapper {
    @apply max-w-7xl mx-auto;
  }
}
@layer utilities {
  @media (max-width: 320px) {
    .mobile-320 {
      @apply  text-xs leading-tight p-1;
    }
  }
}